* {
  font-family: "Inter";
  font-weight: 400;
  font-size: 2.3vw;
  line-height: 7.353vh;
}

/* Preloader*/
.contenedor_loader{
  background: #272626;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenedor-img{
  display: flex;
  justify-content: center;
  margin-bottom: 3.83vh;
}

.img{
  width: 20vw;
}

.loading{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box{
  padding: 0.147%;
  width: 40%;
  height: 1.465vw;
  border: 0.365vh solid #ccc;
  border-radius: 2vh;
}

.loading .line-box .line{
  height: 3.065vh;
  border-radius: 2vh;
  background: #FF8000;
  animation: loading 3s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
/*Fin Preloader*/

body,
canvas {
  background: #000;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Estilo del encabezado*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272626;
  width: 100%;
  height: 12vh;
}

.logo {
  padding: 0.733%;
  border: 0.2vh solid #ccc;
  border-radius: 10% 25%;
  max-width: 4.393vw;
  height: 6.4vh;
  margin-left: 2.5622vw;
}

.titulo-autor {
  display: flex;
  flex-direction: column;
}

.titulo {
  margin-bottom: 0;
  color: #d8dfe8;
  font-size: 5.36vh;
}

.autor {
  text-align: center;
  margin-top: 0;
  color: #d8dfe8;
  font-size: 2.296vh;
}

ul {
  display: flex;
  justify-content: flex-end;
}

ul li {
  display: flex;
}

ul li a {
  width: 7.66vh;
  height: 7.66vh;
  background-color: #fff;
  font-size: 5.36vh;
  margin: 0 0.73203vw;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0.5vh solid #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

ul li a .fab.fa-linkedin-in,
ul li a .fa-brands.fa-github {
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

ul li a:hover .fab.fa-linkedin-in,
ul li a:hover .fa-brands.fa-github {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #333333;
}

ul li:nth-child(2) a:before {
  background: #333333;
}
/*Fin estilo del encabezado*/

/*Estilo del main*/
main {
  width: 100%;
  height: 73.6vh;
  display: flex;
}

section {
  height: 100%;
}

.section_1 {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoUsuario {
  padding: 1.5vw;
  text-align: center;
  background-color: rgba(39, 38, 38, 0.7);
  border: none;
  border-radius: 1.5vw;
  color: #fff;
  margin-top: 2%;
  width: 80%;
  height: 70%;
}

.info{
  margin-top: 2vh;
  width: 100%;
}

.simbolo {
  padding-left: 4.6852vw;
}

.informacion {
  display: inline;
  color: #d8dfe8;
  font-size: 3vh;
}

.section_2 {
  margin-top: 1vh;
  width: 35vw;
  height: 85vh;
  display: block;
}

.textoSalida {
  text-align: center;
  background-color: rgba(39, 38, 38, 0.7);
  width: 65%;
  height: 85.6%;
  background-image: url(images/Muñeco\ \(1\).png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1.9vh;
  color: #fff;
  margin-left: 4.7vw;
  padding: 1vh 2vh 10vh 2vh;
}

.caja-btn-copiar {
  display: flex;
  justify-content: center;
  margin-top: -12vh;
}
/*ESTILO DEL BOTON*/
.btn {
  position: relative;
  display: inline-block;
  border-radius: 2vw;
  padding: 0.46vh 1.7vw;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.2932vw;
  text-decoration: none;
  font-size: 3.65vh;
  overflow: hidden;
  transition: 1s;
}

.btn:hover {
  background: #FF8000;
  box-shadow: 0 0 2vh #FF8000, 0 0 3vh #000, 0 0 8vh #FF8000;
  transition-delay: 0.1;
}

.btn span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.32vh;
  background: linear-gradient(90deg, transparent, #fff);
}

.btn:hover #span1 {
  left: 100%;
  transition: 0.5s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.32vh;
  background: linear-gradient(270deg, transparent, #fff);
}

.btn:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 0.15vw;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
}

.btn:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  width: 0.15vw;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
}

.btn:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*FIN ESTILO DEL BOTON*/

footer {
  width: 64.3%;
  height: 13vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container a {
  position: relative;
  display: inline-block;
  padding: 2.3vh 2.3vw;
  border: 0.4vh solid #FF8000;
  border-radius: 1.2vh;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.2vw;
  color: #fff;
  transition: 0.5s;
}

.container a:hover {
  border-radius: 1.5vh;
  transition-delay: 1s;
  box-shadow: 0 0 2vw #FF8000, 0 0 2vw #FF8000, 0 0 6vw #FF8000, 0 0 8vw #FF8000,
    0 0 10vw #FF8000;
}

.container a span {
  position: relative;
  z-index: 100;
}

.container a:nth-child(2) {
  filter: hue-rotate(180deg);
}
.container a::before {
  border-radius: 1.3vh;
  content: "";
  position: absolute;
  left: -1.3vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3vw;
  height: 0.34vh;
  background: #FF8000;
  box-shadow: 0.5vw -0.6vw 0 #FF8000, 0.5vw 0.6vw 0 #FF8000;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 0.5s, 0.5s, 0s, 0s;
}
.container a:hover::before {
  border-radius: 1.2vh;
  width: 60%;
  height: 100%;
  left: -0.1vw;
  box-shadow: 0.5vw 0 0 #FF8000, 0.5vw 0 0 #FF8000;
  transition-delay: 0s, 0.5s, 0.5s, 0.5s;
}

.container a::after {
  border-radius: 1.3vh;
  content: "";
  position: absolute;
  right: -1.3vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3vw;
  height: 0.34vh;
  background: #FF8000;
  box-shadow: -0.5vw -0.6vw 0 #FF8000, -0.5vw 0.6vw 0 #FF8000;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
}
.container a:hover::after {
  border-radius: 1.2vh;
  width: 60%;
  height: 100%;
  right: -0.1vw;
  box-shadow: -0.5vw 0 0 #FF8000, -0.5vw 0 0 #FF8000;
  transition-delay: 0s, 0.5s, 0.5s, 0.5s;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.capa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: -2;
}

/* Responsive Design - adaptacion a dispositivos moviles */
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  .img{
    width: 35vw;
  }
  .loading .line-box{
    padding: 0.6vh;
    width: 60%;
    height: 3.8vw;
  }
  
  .loading .line-box .line{
    height: 1.8vh;
    border-radius: 2vh;
  }
  .logo{
    margin-left: 2.3vh;
    padding: 1.8%;
    height: auto;
    max-width: 16vw;
  }
  .titulo-autor{
    margin-left: 1vh;
  }
  .titulo{
    font-size: 3.5vh;
  }
  .autor{
    font-size: 2vh;
  }
  ul li a{
    width: 11vw;
    height: 5.5vh;
    line-height: 5.4vh;
    font-size: 3.8vh;
    margin: 0 1vh 0 0;
    background: #272626;
  }
  .fa-linkedin-in:before,
  .fa-brands.fa-github:before{
    color: #fff;
  }
  
  main{
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 76vh;
  }
  .section_1 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .textoUsuario {
    line-height: 4vh;
    padding: 1.5vw 1.5vh;
    text-align: center;
    color: #fff;
    margin-top: 2%;
    width: 80%;
    height: 100%;
    font-size: 3vh;
    padding-block-start: 2vh;
  }
  
  .info{
    width: 100%;
    height: 5vh;
    margin: 0;
  }
  
  .simbolo {
    padding-left: 4.6852vw;
    height: 1.7vh;
    max-width: min-content;
  }
  
  .informacion {
    margin-left: 1vw;
    display: inline;
    color: #d8dfe8;
    font-size: 4vw;
  }
  .section_2{
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 41.5vh;
  }
  .textoSalida{
    line-height: 4vh;
    font-size: 3vh;
    width: 58%;
    margin-top: 1vh;
    height: 33vh;
    margin-left: 0;
    padding: 1.5vh 1vh 10vh 1vh;
  }
  .caja-btn-copiar{
    height: 5.9vh;
    margin-top: -8vh;
    align-items: center;
  }
  .btn{
    border-radius: 3.5vh;
    padding: 0 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12vh;
  }
  .container a{
    font-size: 2vh;
    padding: 10px 10px;
    margin-inline: 1vh;
    border-radius: 9px;
    top: 50%;
    background: #FF8000;
    box-shadow: 0 0 5px #FF8000, 0 0 10px #FF8000, 0 0 20px #FF8000, 0 0 40px #FF8000,
    0 0 80px #FF8000;
  }
  .container a::before,.container a::after {
    position: static;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) and (orientation: portrait) {
  .img{
    width: 40vw;
  }
  
  .loading .line-box{
    padding: 0.6vh;
    width: 60%;
    height: 4vw;
  }
  
  .loading .line-box .line{
    height: 1.8vh;
    border-radius: 2vh;
  }
  .logo{
    margin-left: 2.3vh;
    border: 0.35vh solid #ccc;;
    padding: 1.8%;
    height: auto;
    max-width: 14vw;
  }
  .titulo-autor{
    margin-left: 1vh;
  }
  .titulo{
    font-size: 3.5vh;
  }
  .autor{
    font-size: 2vh;
  }
  ul li a{
    border: 0.35vh solid #fff;
    width: 10.5vw;
    height: 5.25vh;
    line-height: 5.4vh;
    font-size: 3vh;
    margin: 0 1vh 0 0;
    background: #272626;
  }
  .fa-linkedin-in:before,
  .fa-brands.fa-github:before{
    color: #fff;
  }
  
  main{
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 76vh;
  }
  .section_1 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .textoUsuario {
    line-height: 4vh;
    padding: 1.5vw 1.5vh;
    text-align: center;
    color: #fff;
    margin-top: 2%;
    width: 80%;
    height: 100%;
    font-size: 3vh;
    padding-block-start: 2vh;
  }
  
  .info{
    width: 100%;
    height: 5vh;
    margin: 0;
  }
  
  .simbolo {
    padding-left: 4.6852vw;
    height: 1.7vh;
  }
  
  .informacion {
    margin-left: 1vw;
    display: inline;
    color: #d8dfe8;
    font-size: 4vw;
  }
  .section_2{
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 41.5vh;
  }
  .textoSalida{
    line-height: 4vh;
    font-size: 3vh;
    width: 58%;
    margin-top: 1vh;
    height: 33vh;
    margin-left: 0;
    padding: 1.5vh 1vh 10vh 1vh;
  }
  .caja-btn-copiar{
    height: 5.9vh;
    margin-top: -8vh;
    align-items: center;
  }
  .btn{
    border-radius: 3.5vh;
    padding: 0 4vw;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12vh;
  }
  .container a{
    padding: 10px 10px;
    margin-inline: 1vh;
    border-radius: 9px;
    top: 50%;
    background: #FF8000;
    box-shadow: 0 0 5px #FF8000, 0 0 10px #FF8000, 0 0 20px #FF8000, 0 0 40px #FF8000,
    0 0 80px #FF8000;
  }
  .container a::before,.container a::after {
    position: static;
  }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .img{
    width: 33vw;
  }
  .loading .line-box{
    height: 2vh;
    padding: 0.6vh;
    width: 60%;
  }
  .logo{
    max-width: 12.5vw;
    margin-left: 2.3vh;
    border: 0.35vh solid #ccc;;
    padding: 1.8%;
    height: auto;
  }
  ul li a{
    width: 11vw;
    height: 6vh;
    font-size: 3.5vh;
  }

  .loading .line-box .line{
    height: 1.8vh;
    border-radius: 2vh;
  }
  .titulo-autor{
    margin-left: 1vh;
  }
  .titulo{
    font-size: 3.5vh;
  }
  .autor{
    font-size: 2vh;
  }
  ul li a{
    border: 0.35vh solid #fff;
    width: 10.5vw;
    height: 5.25vh;
    line-height: 5.4vh;
    font-size: 3vh;
    margin: 0 1vh 0 0;
    background: #272626;
  }
  .fa-linkedin-in:before,
  .fa-brands.fa-github:before{
    color: #fff;
  }
  
  main{
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 76vh;
  }
  .section_1 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .textoUsuario {
    line-height: 4vh;
    padding: 1.5vw 1.5vh;
    text-align: center;
    color: #fff;
    margin-top: 2%;
    width: 80%;
    height: 100%;
    font-size: 3vh;
    padding-block-start: 2vh;
  }
  
  .info{
    width: 100%;
    height: 5vh;
    margin: 0;
  }
  
  .simbolo {
    padding-left: 4.6852vw;
    height: 1.7vh;
  }
  
  .informacion {
    margin-left: 1vw;
    display: inline;
    color: #d8dfe8;
    font-size: 4vw;
  }
  .section_2{
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 41.5vh;
  }
  .textoSalida{
    line-height: 4vh;
    font-size: 3vh;
    width: 58%;
    margin-top: 1vh;
    height: 33vh;
    margin-left: 0;
    padding: 1.5vh 1vh 10vh 1vh;
  }
  .caja-btn-copiar{
    height: 5.9vh;
    margin-top: -8vh;
    align-items: center;
  }
  .btn{
    border-radius: 3.5vh;
    padding: 0 4vw;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 12vh;
  }
  .container a{
    padding: 10px 10px;
    margin-inline: 1vh;
    border-radius: 9px;
    top: 50%;
    background: #FF8000;
    box-shadow: 0 0 5px #FF8000, 0 0 10px #FF8000, 0 0 20px #FF8000, 0 0 40px #FF8000,
    0 0 80px #FF8000;
  }
  .container a::before,.container a::after {
    position: static;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  .img{
    width: 18vw;
  }
  .loading .line-box{
    height: 1.7vw;
    border: 0.55vh solid #ccc;
    padding: 0.3vw;
  }
  .logo{
    margin-left: 3vw;
    max-width: 6vw;
  }
  ul{
    margin-right: 2.5vw;
  }
}





